<div>
    <label>Name:</label>
    <input type="text" name="name" value="<%= cust.name %>">
</div>
<div>
    <label>E-mail:</label>
    <input type="text" name="email" value="<%= cust.email %>">
</div>
<div>
    <label>Cell number:</label>
    <input type="number" name="cell" value="<%= cust.cell %>">
</div>
<div>
    <label>Licence plate registration:</label>
    <input type="text" name="licenceplate" value="<%= cust.licenceplate %>">
</div>