<h2>Edit Customer</h2>
<form action='/cust/<%= cust.id %>?_method=PUT' method="POST">
    <%- include('_form_fields') %>
    <a href="/cust">Cancel</a>
    <button type="submit">Update</button>
</form>