<header>
    <nav>
        <a href="/">SmartCapture</a>
        <ul>
            <li><a href="/cust">Customers</a></li>
            <li><a href="/cust/new">Create Customer</a></li>
            
        </ul>
    </nav>
</header>