<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center bg-dark">
        <h1>Success!</h1>
        <p>You have successfully created an accout.</p>
        <a href="/" class="btn btn-primary btn-block mt-4"
          >Okay</a>
      </div>
    </div>
</div>